{% extends 'base.html' %}

<!--title block-->
{% block title %}
<title>The Glory House</title>
{% endblock %}

<!--Main Block-->
{% block main %}
<section id="main">
    <div class="landing-head">
        <h2>Welcome to the Glory House online Family</h2>
        <h4>Thank you for joining us, Our service starts at 08:30, <br> Kindly click below to watch our Live service</h4>
        <p><a href="/live"><button>Watch LIVE</button></a></p>
        <h4>To give your offering and tithes, Visit below </h4>
        <span><a href="/"><Button>Giving</Button></a> </span>
    </div>
</section>
{% endblock %}

